# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Claves nativas y certificados
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.keystore

# Metro
.metro-health-check*

# Logs y Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# SO y varios
.DS_Store
.vscode/

# compilaciones Typescript
*.tsbuildinfo

# Carpetas nativas generadas
/ios
/android
